:root {
    --DefaultTextColor: #E8E8E8;
    --DefaultBackgroundColor: #0E0E0E;
}

html,
body,
#app {
    background-color: var(--DefaultBackgroundColor) !important;
    color: var(--DefaultTextColor) !important;
    a {
        color: var(--DefaultTextColor);
    }
}
.v-application {
    background-color: var(--DefaultBackgroundColor) !important;
    color: var(--DefaultTextColor) !important;
}
